
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '../themes';

:host > div{ 	
	background-color: $primary-color;
	padding: 10px;
	margin: 10px;
	position: relative;
	border-radius: 5px;
	
	.delete, .update, button.accept{

		display: block;
		position: absolute;
		top: 2px;
	    font-size: 0px;
	    border: none;
	    background: none;
	    width: 15px;
	    &:before{
	    	font-size: 20px;
			color: black; 
	    }
	}
	.delete{
		@extend .fa;
	    @extend .fa-trash;
		right: 12px;
	    
	}
	.update{
		@extend .fa;
	    @extend .fa-pencil;
		right: 32px;
	}
	
	span{
		display: block;
	}
	
}
