<div >
	<h1 *ngIf="!element._id">Add a rating</h1>
	<h1 *ngIf="element._id">Update a rating</h1>

	<div class="body">
		<form (ngSubmit)="saveElement()">
			<input type="hidden" class="form-control" [(ngModel)]="element._id" id="_id" name="_id">

			<address-form [address]="element.address"></address-form>


			<answer-form [question]="question" *ngFor="let question of element.answers" ></answer-form>

			<input type="hidden" class="form-control" [(ngModel)]="element.rater"  id="rater" name="rater">

			<button type="submit">Save</button>
		</form>

	</div>
</div>