
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import "../themes";
:host{
	h1{
		font-family: BaroqueScriptRegular;
		color: $secondary-color; 
		text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
		margin:0px;
	}

	.body{
		border-spacing: 5px;
		display: table;
		width: 100%;
		form{

			background-color: $primary-color;
			display: table-cell;
			vertical-align: top;
			width: 48%;
			padding: 10px;
			.form-group{
				margin-bottom: 10px;				
				label{
					vertical-align: top;

				}
				input, textarea{
					width: 100%;
					box-sizing:	border-box;
				}
				.new-proposal input{
					max-width: 300px;
				}
				textarea{
				}

			}

			#describe{
				height: 120px;
				resize: none;
			}

			#issues{
				height: 150px;
			}
			label[for=winner], label[for=looser]{
				width: 150px;
				display: inline-block;
			}

			input[type=submit]{
				float: right;
			}
			
			address-form{
				width: 300px;
			}
			
		}
	}
	ul{
		margin: 0px;
	}
	label:after{
		content: ':'
	}

	.add{
    	@extend .fa;
    	@extend .fa-plus;
		color: green;
		font-size: 0px;
		border: none;
		background: none;
		&:before{
			font-size: 20px;
		}
	}
	.delete{
		@extend .fa;
	    @extend .fa-times;
		color: red;
		font-size: 0px;
		border: none;
		background: none;
		&:before{
			font-size: 25px;
		}
	    
	}
}
