<h1 i18n>Home advisor</h1>
<nav>
	<a routerLink="/search" routerLinkActive="active" class="search" >search</a>
	<a routerLink="/scores" routerLinkActive="active" class="list" IfAdministrator >list</a>
    <a routerLink="/score" routerLinkActive="active" class="add">add</a>
     <a routerLink="/questions" routerLinkActive="active" class="questions" IfAdministrator >questions</a>
     <a routerLink="/users" routerLinkActive="active" class="users" IfAdministrator >users</a>
    <a *ngIf="connected" class="login">{{connected?.displayName}}</a>
    <a *ngIf="!connected" routerLink="/login" routerLinkActive="active" class="login">login</a>
</nav>
<router-outlet></router-outlet>