<input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>

<div *ngIf="searchRun" class="result">
<button [routerLink]="['/score', adressSearch]">Note this address</button>
	<div class="address" *ngFor="let score of searchResult.match">
		<address-view [address]="score.address"></address-view>	

		<button [routerLink]="['/score-detail', score.scoreId]">view</button>
	</div>

	<div *ngIf="searchResult?.match.length===0 && searchResult?.route.length!==0" class="other_result">
		<span>other result in same street</span>
		<div class="address" *ngFor="let score of searchResult.route">
			<address-view [address]="score.address"></address-view>	
			<button [routerLink]="['/score-detail', score.scoreId]">view</button>
		</div>
	</div>
</div>