:host{
	.address{
		width: 70%;
	}

	.answers{
		width: 70%;
	}
	.rater{
		width: 25%;
		float: right;
		clear: right;

	}

	.other-score{
		width: 25%;
		float: right;
		clear: right;
	}

	.other-address{
		width: 25%;
		float: right;
		clear: right;

	}
}